<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - The Conversation Analysis</title>
    <style>
        nav a {
            color: #d64161;
            font-size: 3em;
            margin-left: 50px;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Articles</a>
        <a href="{{ url_for('about') }}">About</a>
    </nav>
    <hr>
    <div class="content">
        <img src="https://cdn.theconversation.com/static/tc/@theconversation/ui/dist/esm/logos/logo-horizontal-en-df7faf4238d541b16db76bba081fdd73.png" alt="The Conversation's logo" />
        {% block content %} {% endblock %}
    </div>
</body>
</html>